name: Auto Merge GitHub Actions
on:
  pull_request:
    types:
      - opened
      - synchronize
permissions:
  contents: write      
jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' && contains(github.event.pull_request.head.ref, 'dependabot/github_actions/')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Auto approve
        uses: hmarr/auto-approve-action@v2.0.0
        with:
          github-token: ${{ secrets.GH_TOKEN }}
      - name: Merge pull request
        uses: "pascalgn/automerge-action@v0.16.3"
        permissions:
          contents: write
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
